extends layout
 
block content
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='../') Aoyama Bussines School (ABS)
  .container
    .page-header
      .row
        .col-lg
          h1 ABS オリジナルパーカー
          p.lead （申し込みSite）
          h4 ABSドーナツ倶楽部2013のオフィシャルパーカーです！<br/>
          h4 10ozの良質な素材を使った今年だけの商品です、ぜひご予約を！！<br/>
          img(src='/images/1267294_504460109643498_658050298_o.jpg', width='124', height='82.7')<br/><br/>
    .row
      .col-lg
        今年のABSドーナツクラブのビジョンは、<br/>
        b  「明るく、楽しく、美味しいドーナツ。ＡＢＳドーナツは世界を救う！！」
        | です。<br/>収益は震災孤児の学業支援団体への寄付を検討しています。<br/>
        | ABSでの学びを最大限に発揮し、ドーナツの輪を更に広げ、<br/>
        | 社会貢献性高く且つ持続可能な事業を行う事を目的とします。

    .page-header
        .col-lg
        .bs-docs-section
          .row
            .col-lg
              h4 商品情報(パーカー)
    .col-lg
      .row-fluid
         ul.thumbnails
           li.span5
            .thumbnail
              img(src='/images/236250d2571772d540e5_460x460.jpeg', alt='パーカー')
              .caption
                h3 パーカー (黒)
                p 生地厚：10.0oz(オンス)<br/>金額：4,000円<br/>素材：綿100%、裏バイル
                p
                  サイズ: S  /  M  /  L  /  XL<br/>
                  |着丈 :  61  /  65  /  69  /  74<br/>
                  |身幅 :  52  /  55  /  58  /  63<br/>
                  |袖丈 :  56  /  60  /  61  /  62
    // Forms
    .col-lg
    .bs-docs-section
    .page-header
      .row
        .col-lg
            h4#forms お客様情報
      .row
        .col-lg
          .well
            form.bs-example.form-horizontal(action='/inputform/apply', method='get')
              fieldset
                legend 入力項目
                .form-group
                  label.col-lg-2.control-label(for='surname') 苗字(FamilyName)
                  .col-lg-4
                    input#inputSurname.form-control(type='text', placeholder='青山')
                .form-group
                  label.col-lg-2.control-label(for='surname') 氏名(GivingName)
                  .col-lg-4
                    input#inputGivingname.form-control(type='text', placeholder='太郎')
                .form-group
                  label.col-lg-2.control-label(for='email') メールアドレス(E-Mail)
                  .col-lg-4
                    input#inputEmail.form-control(type='text', placeholder='aoyamataro@xx.xx')
                .form-group
                  label.col-lg-2.control-label(for='telephoneNumber') 連絡先(TelephoneNumber)
                  .col-lg-4
                    input#inputTelephonnumber.form-control(type='text', placeholder='0X0-XXXX-XXXX')
                .form-group
                  label.col-lg-2.control-label(for='context') 所属(Conext)
                  .col-lg-4
                    select#select.form-control
                      option 在学1年生
                      option 在学2年生
                      option 教員
                      option その他
                .form-group
                  label.col-lg-2.control-label(for='textArea') 備考
                  .col-lg-4
                    textarea#textArea.form-control(rows='3')
                    span.help-block
                      | その他伝えたい事項などがございましたら、
                      | ご記入ください。
                .form-group
                  .col-lg-6.col-lg-offset-2
                    button.btn.btn-primary(type='submit') 購入予約
                    button.btn.btn-default Cancel

  div.footer
    p#bottom_nav
        a(href='http://www.aoyamabs.jp/index.html', target="_blank") ABS HomePage
    p All Right Reserved SCDH 2013.
